@use '../base/variables' as *;
@layer layout {
  .container {
    width: 100%;
    max-width: 800px; // Ancho máximo para el contenido principal
    display: grid;
    // Usamos el nombre de la clase de tus tarjetas para el espaciado
    gap: var(--spacing-lg); 
  }

  // Estilo para la tarjeta contenedora del input (contenedor)
  .card.contenedor {
    background: var(--gradient-card);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
  }
}
